@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #restOfArticle details {
    @apply block bg-theme-info rounded-lg my-8 px-5 py-4;
  }

  #restOfArticle summary {
    @apply block;
    cursor: pointer;
  }

  #restOfArticle summary p:first-child {
    @apply mt-0;
  }
  
  /* Removes the default marker in <summary> elements */
  #restOfArticle summary::marker,
  /* For safari */
  #restOfArticle summary::-webkit-details-marker {
    content: '';
    display: none;
  }

  #restOfArticle summary::after {
    @apply mt-4 block underline;
    content: 'Read more 👇';
  }

  #restOfArticle p > img {
    @apply block mx-auto;
  }
}

@layer utilities {
  .backdrop-blur {
    backdrop-filter: blur(3px);
  }

  .border-dark-only {
    border: var(--border-dark-only);
  }

  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  .scroll-snap-xm {
    scroll-snap-type: x mandatory;
  }

  .zoom-on-hover-container {
    overflow: hidden;
  }

  .zoom-on-hover {
    will-change: transform;
    transform: scale(1);
    transition: transform 1000ms;
  }

  .zoom-on-hover-container:focus-within .zoom-on-hover,
  .zoom-on-hover-container:hover .zoom-on-hover {
    transform: scale(1.2);
    transition: transform 400ms;
  }

  /* Make sure no animation is played on initial page load */
  .no-animation * {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
