@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #restOfArticle details {
    @apply block bg-theme-info rounded-lg my-8 px-5 py-4;
  }

  #restOfArticle summary {
    @apply block;
    cursor: pointer;
  }

  #restOfArticle summary p:first-child {
    @apply mt-0;
  }

  #restOfArticle summary::after {
    @apply mt-4 block underline;
    content: 'Read more 👇';
  }
}

@layer utilities {
  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  .scroll-snap-xm {
    scroll-snap-type: x mandatory;
  }

  .zoom-on-hover-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-on-hover {
    will-change: transform;
    transform: scale(1);
    transition: transform 1000ms;
  }

  .zoom-on-hover-container:focus-within .zoom-on-hover,
  .zoom-on-hover-container:hover .zoom-on-hover {
    transform: scale(1.2);
    transition: transform 400ms;
  }

  /* Make sure no animation is played on initial page load */
  .no-animation * {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
