@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --text-color: #2b2826;
  background: #fafafa;
}

body.dark-mode {
  --text-color: #fafaf9;
}

@layer utilities {
  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  .scroll-snap-xm {
    scroll-snap-type: x mandatory;
  }

  /* Make sure no animation is played on initial page load */
  .no-animation * {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
