:root {
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #f7f7f9;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: #047481;
  --color-scrollbar: #777;
  
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --filter-invert: '';
}

@media(prefers-color-scheme: dark) {
  :root {
    --theme:dark;

    --color-bg: #1d242c;
    --color-bg-offset: #242d3c;
    --color-heading: #fafafa;
    --color-text: #efefef;
    --color-subtitle: #d9d9d9;
    --color-link: #54b4c1;
    --color-scrollbar: #3d445c;
    
    --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
    
    --filter-invert: invert(1);
  }

  .monochrome-img {
    filter: var(--filter-invert);
  }
}

/*
 Add more themes here!
*/
[data-theme='default'] {
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #f7f7f9;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: #047481;
  --color-scrollbar: #777;
  
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --filter-invert: '';
}

[data-theme='dark'] {
  --theme:dark;

  --color-bg: #1d242c;
  --color-bg-offset: #242d3c;
  --color-heading: #fafafa;
  --color-text: #efefef;
  --color-subtitle: #d9d9d9;
  --color-link: #54b4c1;
  --color-scrollbar: #3d445c;

  --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);

  --filter-invert: invert(1);
}

[data-theme='dark'] .monochrome-img {
  filter: var(--filter-invert);
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* some fancy hover effect for anchor tags */
.fancy-anchor {
  text-decoration: none;
  position: relative;
  color: var(--color-link);
  transition: 200ms cubic-bezier(0, .8, .13, 1);
}

.fancy-anchor:hover {
  color: var(--color-text);
}

.fancy-anchor:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 95%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: 200ms cubic-bezier(0, .8, .13, 1);
  background-color: var(--color-link);
  opacity: 1;
}

.fancy-anchor:hover:after {
  top: 0%;
  opacity: 0.25;
}

/* make scrollbar more bearable to look at */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color-bg-offset);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}