:root {
  --bg-opacity: 1;

  --color-bg: rgba(var(--rgb-bg), var(--bg-opacity));
  --color-bg-offset: rgba(var(--rgb-bg-offset), var(--bg-opacity));
  --color-heading: rgba(var(--rgb-heading), var(--bg-opacity));
  --color-text: rgba(var(--rgb-text), var(--bg-opacity));
  --color-subtitle: rgba(var(--rgb-subtitle), var(--bg-opacity));
  --color-link: rgba(var(--rgb-link), var(--bg-opacity));

  --transition-default: 0.5s;
  --transition-faster: 0.25s;

  --navbar-height: 75px;
}

/*
 Add more themes here!
*/
[data-theme='default'] {
  /* prettier-ignore */
  --theme:default;

  --rgb-primary: 130, 255, 218;
  --rgb-secondary: 218, 130, 255;
  --rgb-tertiary: 255, 219, 130; 

  --rgb-bg: 244, 244, 244;
  --rgb-bg-offset: 234, 234, 234;
  --rgb-heading: 55, 58, 60;
  --rgb-text: 22, 30, 46;
  --rgb-subtitle: 107, 114, 128;
  --rgb-link: 0, 135, 94;
  --rgb-link-highlight: 130, 255, 218;
  --rgb-outline: 4, 116, 129;

  --color-link-highlight: rgba(var(--rgb-link-highlight), 0.25);
  --color-outline: rgba(var(--rgb-outline), 0.7);
  --color-scrollbar: #cacaca;

  --color-warning: #ecef09;
  --color-info: #dcf9ff;

  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid transparent;

  --filter-invert: '';

  --hide-in-light-mode: 0;
  --hide-in-dark-mode: 1;
}

[data-theme='dark'] {
  /* prettier-ignore */
  --theme:dark;

  --rgb-primary: 84, 180, 193;
  --rgb-secondary: 193, 84, 180;
  --rgb-tertiary: 180, 193, 84; 

  --rgb-bg: 17, 24, 32;
  --rgb-bg-offset: 31, 41, 48;
  --rgb-heading: 247, 247, 247;
  --rgb-text: 209, 213, 219;
  --rgb-subtitle: 148, 163, 184;
  --rgb-link: 84, 180, 193;
  --rgb-link-highlight: var(--rgb-link);
  --rgb-outline: var(--rgb-link);

  --color-link-highlight: rgba(var(--rgb-link-highlight), 0.25);
  --color-outline: rgba(var(--rgb-outline), 1);
  --color-scrollbar: rgba(55, 65, 81, var(--bg-opacity));

  --color-warning: rgba(93, 94, 33, var(--bg-opacity));
  --color-info: rgba(15, 41, 64, var(--bg-opacity));

  --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid var(--color-bg-offset);

  --filter-invert: invert(1);

  --hide-in-light-mode: 1;
  --hide-in-dark-mode: 0;
}

[data-theme='dark'] .monochrome-img {
  filter: var(--filter-invert);
}

body {
  background: var(--color-bg);
  color: var(--color-text);

  transition: background var(--transition-default),
    color var(--transition-default);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* some fancy hover effect for anchor tags */
.fancy-anchor {
  text-decoration: none;
  position: relative;
  color: var(--color-link);
  transition: var(--transition-faster);
  box-shadow: inset 0 0em transparent, inset 0 -0.1em var(--color-link);
}

.fancy-anchor:hover,
.fancy-anchor:focus {
  color: var(--color-text);

  box-shadow: inset 0 0em transparent,
    inset 0 -1.1em var(--color-link-highlight);
}

/* heading anchor tags */
.hash-link {
  line-height: 1;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-block-start: 3rem;
}

h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link,
h5:hover .hash-link,
h6:hover .hash-link {
  opacity: 1;
}

/* For table of content */
.page-outline {
  position: sticky;
  top: 8rem;
  transform: translateX(0);
}

.page-outline::before {
  display: block;
  content: 'Table of Contents';
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -2rem !important;
}

.page-outline::before,
.toc-level-1 {
  position: fixed;
  left: 100%;
  width: 100%;
  max-width: clamp(240px, 15vw, 320px);
  margin-left: 4rem;
}

button:focus,
input:focus,
a:focus {
  outline: none !important;
  box-shadow: var(--focus-outline) !important;
}

/* make scrollbar more bearable to look at */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--color-bg-offset);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

/* Hacks alert! Remove when possible! */

/*
 * Sets a nicer looking outline for CMD palette item focus 
 * TODO: Remove this once we can start using tailwind last-of-type variant
 */
.focusable-cmd-item:nth-last-child(2) {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
