:root {
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #f7f7f9;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: #047481;
  --color-link-highlight: rgba(4, 116, 129, 0.25);
  --color-scrollbar: #cacaca;
  
  --color-warning: #ecef09;
  
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --filter-invert: '';
}

@media(prefers-color-scheme: dark) {
  :root {
    --theme:dark;

    --color-bg: #111820;
    --color-bg-offset: #1F2930;
    --color-heading: #fafafa;
    --color-text: #efefef;
    --color-subtitle: #d9d9d9;
    --color-link: #54b4c1;
    --color-link-highlight: rgba(84, 180, 193, 0.25);
    --color-scrollbar: #374151;

    --color-warning: #5d5e21;
    
    --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
    
    --filter-invert: invert(1);
  }

  .monochrome-img {
    filter: var(--filter-invert);
  }
}

/*
 Add more themes here!
*/
[data-theme='default'] {
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #f7f7f9;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: #047481;
  --color-link-highlight: rgba(4, 116, 129, 0.25);
  --color-scrollbar: #cacaca;

  --color-warning: #ecef09;
  
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --filter-invert: '';
}

[data-theme='dark'] {
  --theme:dark;

  --color-bg: #111820;
  --color-bg-offset: #1F2930;
  --color-heading: #fafafa;
  --color-text: #efefef;
  --color-subtitle: #d9d9d9;
  --color-link: #54b4c1;
  --color-link-highlight: rgba(84, 180, 193, 0.25);
  --color-scrollbar: #374151;

  --color-warning: #5d5e21;

  --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);

  --filter-invert: invert(1);
}

[data-theme='dark'] .monochrome-img {
  filter: var(--filter-invert);
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* some fancy hover effect for anchor tags */
.fancy-anchor {
  text-decoration: none;
  position: relative;
  color: var(--color-link);
  transition: 200ms cubic-bezier(0, .8, .13, 1);

  box-shadow:
    inset 0 0em transparent,
    inset 0 -0.1em var(--color-link);
  }
  
.fancy-anchor:hover {
  color: var(--color-text);
    
  box-shadow:
    inset 0 0em transparent,
    inset 0 -1.1em var(--color-link-highlight);
}

/* heading anchor tags */
.hash-link {
  line-height: 1;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity .3s;
}

h1:hover .hash-link, 
h2:hover .hash-link, 
h3:hover .hash-link, 
h4:hover .hash-link, 
h5:hover .hash-link, 
h6:hover .hash-link {
  opacity: 1;
} 

/* For table of content */
.page-outline {
  position: relative;
  left: 100%;
  margin-left: 3rem;
  padding-right: 1rem;
}

.page-outline::before {
  display: block;
  position: fixed;
  content: 'Table of Contents';
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -2rem !important;
}

.toc-level-1 {
  position: fixed;
}

/* make scrollbar more bearable to look at */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--color-bg-offset);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}