:root {
  /* prettier-ignore */
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #eaeaea;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: #047481;
  --color-link-highlight: rgba(4, 116, 129, 0.25);
  --color-scrollbar: #cacaca;

  --color-warning: #ecef09;
  --color-info: #dcf9ff;

  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --focus-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);

  --border-dark-only: 2px solid transparent;

  --filter-invert: '';

  --hide-in-light-mode: 0;
  --hide-in-dark-mode: 1;

  --transition-default: 0.5s;
  --transition-faster: 0.25s;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* prettier-ignore */
    --theme:dark;

    --color-bg: #111820;
    --color-bg-offset: #1f2930;
    --color-heading: #fafafa;
    --color-text: #efefef;
    --color-subtitle: #d9d9d9;
    --color-link: #54b4c1;
    --color-link-highlight: rgba(84, 180, 193, 0.25);
    --color-scrollbar: #374151;

    --color-warning: #5d5e21;
    --color-info: #0f2940;

    --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
      0 2px 4px -1px rgba(255, 255, 255, 0.06);

    --focus-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);

    --border-dark-only: 2px solid var(--color-bg-offset);

    --filter-invert: invert(1);

    --hide-in-light-mode: 1;
    --hide-in-dark-mode: 0;
  }

  .monochrome-img {
    filter: var(--filter-invert);
  }
}

/*
 Add more themes here!
*/
[data-theme='default'] {
  /* prettier-ignore */
  --theme:default;

  --color-bg: #fafafa;
  --color-bg-offset: #eaeaea;
  --color-heading: #373a3c;
  --color-text: #161e2e;
  --color-subtitle: #6b7280;
  --color-link: rgb(0, 135, 94);
  --color-link-highlight: rgba(130, 255, 218, 0.25);
  --color-scrollbar: #cacaca;

  --color-warning: #ecef09;
  --color-info: #dcf9ff;

  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --focus-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);

  --border-dark-only: 2px solid transparent;

  --filter-invert: '';

  --hide-in-light-mode: 0;
  --hide-in-dark-mode: 1;
}

[data-theme='dark'] {
  /* prettier-ignore */
  --theme:dark;

  --color-bg: #111820;
  --color-bg-offset: #1f2930;
  --color-heading: #fafafa;
  --color-text: #efefef;
  --color-subtitle: #d9d9d9;
  --color-link: #54b4c1;
  --color-link-highlight: rgba(84, 180, 193, 0.25);
  --color-scrollbar: #374151;

  --color-warning: #5d5e21;
  --color-info: #0f2940;

  --shadow-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);

  --focus-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);

  --border-dark-only: 2px solid var(--color-bg-offset);

  --filter-invert: invert(1);

  --hide-in-light-mode: 1;
  --hide-in-dark-mode: 0;
}

[data-theme='dark'] .monochrome-img {
  filter: var(--filter-invert);
}

body {
  background: var(--color-bg);
  color: var(--color-text);

  transition: background var(--transition-default),
    color var(--transition-default);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* some fancy hover effect for anchor tags */
.fancy-anchor {
  text-decoration: none;
  position: relative;
  color: var(--color-link);
  transition: var(--transition-faster);
  box-shadow: inset 0 0em transparent, inset 0 -0.1em var(--color-link);
}

.fancy-anchor:hover,
.fancy-anchor:focus {
  color: var(--color-text);

  box-shadow: inset 0 0em transparent,
    inset 0 -1.1em var(--color-link-highlight);
}

/* heading anchor tags */
.hash-link {
  line-height: 1;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-block-start: 3rem;
}

h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link,
h5:hover .hash-link,
h6:hover .hash-link {
  opacity: 1;
}

/* For table of content */
.page-outline {
  position: relative;
  left: 100%;
  top: -8rem;
  margin-left: 3rem;
  padding-right: 1rem;
}

.page-outline::before {
  display: block;
  position: fixed;
  content: 'Table of Contents';
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -2rem !important;
}

.toc-level-1 {
  position: fixed;
}

button:focus,
input:focus,
a:focus {
  outline: none !important;
  box-shadow: var(--focus-outline) !important;
}

/* make scrollbar more bearable to look at */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--color-bg-offset);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}
