:root {
  --bg-opacity: 1;

  --color-bg: hsla(var(--h-bg) var(--s-bg) var(--l-bg) / var(--bg-opacity));
  --color-heading: hsla(var(--h-heading) var(--s-heading) var(--l-heading) / var(--bg-opacity));
  --color-text: hsla(var(--h-text) var(--s-text) var(--l-text) / var(--bg-opacity));
  --color-subtitle: hsla(var(--h-subtitle) var(--s-subtitle) var(--l-subtitle) / var(--bg-opacity));
  
  --transition-default: 0.5s;
  --transition-faster: 0.25s;
  
  --shadow-color: rgba(0, 0, 0, 0.1);
  
  --navbar-height: 75px;
}

/*
 Add more themes here!
*/
[data-theme='default'] {
  /* prettier-ignore */
  --theme:default;

  --h-primary: 180deg;
  --s-primary: 40%;
  --l-primary: 51%;

  --h-secondary: 282deg;
  --s-secondary: 100%;
  --l-secondary: 75%;

  --h-tertiary: 43deg;
  --s-tertiary: 100%;
  --l-tertiary: 75%;

  --h-info: 190deg;
  --s-info: 100%;
  --l-info: 93%;

  --h-warning: 61deg;
  --s-warning: 91%;
  --l-warning: 49%;

  --h-bg: 0deg;
  --s-bg: 0%;
  --l-bg: 95.7%;

  --h-heading: 204deg;
  --s-heading: 4.3%;
  --l-heading: 22.5%;

  --h-text: 220deg;
  --s-text: 35.3%;
  --l-text: 13.3%;

  --h-subtitle: 220deg;
  --s-subtitle: 8.9%;
  --l-subtitle: 46.1%;

  --h-outline: 186deg;
  --s-outline: 94%;
  --l-outline: 26.1%;

  --color-outline: hsla(var(--h-outline) var(--s-outline) var(--l-outline) / 0.7);
  --color-scrollbar: #cacaca;

  --color-info: hsl(var(--h-info) var(--s-info) var(--l-info));

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid transparent;
  --scroll-gutter: hsl(0deg 0% 91.8%);

  --filter-invert: '';

  --hide-in-light-mode: 0;
  --hide-in-dark-mode: 1;
}

[data-theme='dark'] {
  /* prettier-ignore */
  --theme:dark;

  --h-primary: 187deg;
  --s-primary: 46.8%;
  --l-primary: 54.3%;

  --h-secondary: 307deg;
  --s-secondary: 47%;
  --l-secondary: 54.1%;

  --h-tertiary: 67deg;
  --s-tertiary: 46.8%;
  --l-tertiary: 54.3%;

  --h-info: 208deg;
  --s-info: 62%;
  --l-info: 15.5%;

  --h-warning: 61deg;
  --s-warning: 48%;
  --l-warning: 24.9%;

  --h-bg: 212deg;
  --s-bg: 30.6%;
  --l-bg: 9.6%;

  --h-heading: 0deg;
  --s-heading: 0%;
  --l-heading: 96.9%;

  --h-text: 216deg;
  --s-text: 12.2%;
  --l-text: 83.9%;

  --h-subtitle: 215deg;
  --s-subtitle: 20.2%;
  --l-subtitle: 65.1%;

  --h-outline: 187deg;
  --s-outline: 46.8%;
  --l-outline: 54.3%;

  --color-outline: hsla(var(--h-outline) var(--s-outline) var(--l-outline) / 1);
  --color-scrollbar: rgba(55, 65, 81, var(--bg-opacity));

  --color-info: hsla(var(--h-info) var(--s-info) var(--l-info) / var(--bg-opacity));

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid hsl(205deg 21.5% 15.5%);
  --scroll-gutter: hsl(205deg 21.5% 15.5%);

  --filter-invert: invert(1);

  --hide-in-light-mode: 1;
  --hide-in-dark-mode: 0;
}

[data-theme='dark'] .monochrome-img {
  filter: var(--filter-invert);
}

[data-theme='purple-and-gold'] {
  /* prettier-ignore */
  --theme:purple-and-gold;

  --h-primary: 272deg;
  --s-primary: 81%;
  --l-primary: 82%;

  --h-secondary: 42deg;
  --s-secondary: 98%;
  --l-secondary: 56%;

  --h-tertiary: 37deg;
  --s-tertiary: 9%;
  --l-tertiary: 81%;

  --h-info: 190deg;
  --s-info: 100%;
  --l-info: 93%;

  --h-warning: 58deg;
  --s-warning: 100%;
  --l-warning: 52%;

  --h-bg: 257deg;
  --s-bg: 22%;
  --l-bg: 94%;

  --h-heading: 204deg;
  --s-heading: 4.3%;
  --l-heading: 22.5%;

  --h-text: 220deg;
  --s-text: 35.3%;
  --l-text: 13.3%;

  --h-subtitle: 220deg;
  --s-subtitle: 8.9%;
  --l-subtitle: 46.1%;

  --h-outline: var(--h-primary);
  --s-outline: var(--s-primary);
  --l-outline: var(--l-primary);

  --color-outline: hsla(var(--h-outline) var(--s-outline) var(--l-outline) / 0.7);
  --color-scrollbar: #cacaca;

  --color-info: hsl(var(--h-info) var(--s-info) var(--l-info));

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid transparent;
  --scroll-gutter: hsl(0deg 0% 91.8%);

  --filter-invert: '';

  --hide-in-light-mode: 0;
  --hide-in-dark-mode: 1;
}

[data-theme='cobalt'] {
  /* prettier-ignore */
  --theme:ikea;

  --h-primary: 54deg;
  --s-primary: 67%;
  --l-primary: 70%;

  --h-secondary: 215deg;
  --s-secondary: 90%;
  --l-secondary: 80%;

  --h-tertiary: 0deg;
  --s-tertiary: 100%;
  --l-tertiary: 79%;

  --h-info: 190deg;
  --s-info: 100%;
  --l-info: 93%;

  --h-warning: 48deg;
  --s-warning: 100%;
  --l-warning: 62%;

  --h-bg: 219deg;
  --s-bg: 38%;
  --l-bg: 12%;

  --h-heading: 204deg;
  --s-heading: 10.3%;
  --l-heading: 91.5%;

  --h-text: 200deg;
  --s-text: 30.3%;
  --l-text: 90.3%;

  --h-subtitle: 190deg;
  --s-subtitle: 20.9%;
  --l-subtitle: 80.1%;

  --h-outline: var(--h-primary);
  --s-outline: var(--s-primary);
  --l-outline: var(--l-primary);

  --color-outline: hsla(var(--h-outline) var(--s-outline) var(--l-outline) / 0.7);
  --color-scrollbar: rgba(55, 65, 81, var(--bg-opacity));

  --color-info: hsl(var(--h-info) var(--s-info) var(--l-info));

  --focus-outline: 0 0 0 3px var(--color-outline);

  --border-dark-only: 2px solid hsl(205deg 21.5% 15.5%);
  --scroll-gutter: hsl(205deg 21.5% 15.5%);

  --filter-invert: invert(1);

  --hide-in-light-mode: 1;
  --hide-in-dark-mode: 0;
}

[data-theme='cobalt'] .monochrome-img {
  filter: var(--filter-invert);
}


body {
  background: var(--color-bg);
  color: var(--color-text);

  transition: background var(--transition-default),
    color var(--transition-default);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* heading anchor tags */
.hash-link {
  line-height: 1;
  margin-left: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-block-start: 6rem;
}

h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link,
h5:hover .hash-link,
h6:hover .hash-link {
  opacity: 1;
}

/* For table of content */
.page-outline {
  position: sticky;
  top: 8rem;
  transform: translateX(0);
}

.page-outline::before {
  display: block;
  content: 'Table of Contents';
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -2rem !important;
}

.page-outline::before,
.toc-level-1 {
  position: fixed;
  left: 95%;
  width: 100%;
  max-width: clamp(240px, 15vw, 320px);
  margin-left: 4rem;
}

.toc-level-1 {
  margin-top: 1.25rem;
}

button:focus,
input:focus,
a:focus {
  outline: none !important;
  box-shadow: var(--focus-outline) !important;
}

/* make scrollbar more bearable to look at */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--scroll-gutter);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

/* Hacks alert! Remove when possible! */

/*
 * Sets a nicer looking outline for CMD palette item focus 
 * TODO: Remove this once we can start using tailwind last-of-type variant
 */
.focusable-cmd-item:nth-last-child(2) {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
