@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-white: #fff;
  background: #fafafa;
}

body.dark-mode {
  --color-white: #0a0a0a;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}